#Ignorar todos os arquivos
*
#Liberar os seguintes arquivos:
#-Este arquivo (.gitignore)
!.gitignore
#-Arquivos de código do Python
!*.py
#-Arquivos de script em Bash
!*.sh
#-Arquivos de markdown
!*.md
# Bloqueia o conteúdo do diretório script
script/*
